.row-header{
  margin: 0px auto;
  padding: 0px auto;
}
.container {
  margin: 0px;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer{
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 20px 20px 10px 20px;
  background: #579ed8 ;
  color: floralwhite;
}

address{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #0e5fa1;
}

.navbar-brand {
  font-size: 200%;
  color: floralwhite;
}

.navitem {
  color: red;
}

.divider{
  width:10px;
  height:auto;
  display:inline-block;
}